@using System.Reflection
@{
    Assembly currentAssembly = typeof(Startup).Assembly;

    string version = currentAssembly.GetName().Version?.ToString(3) ?? ThisAssembly.AssemblyVersion;
    string uniqueVersionId = ThisAssembly.AssemblyInformationalVersion;
}

<footer class="d-none d-sm-block mt-5">
    <nav class="navbar navbar-light bg-light fixed-bottom border-top pb-2">
        <div class="container-fluid">
            <span class="navbar-text p-0 m-0">
                <span title="@uniqueVersionId">
                    <strong>RetroTime</strong> v@(version)
                </span> by <a href="https://damsteen.nl/">Sebastiaan Dammann</a>
                Refresh by <a href="https://ennerperez.dev/">Enner Pérez</a>
            </span>
            <span class="navbar-text p-0 m-0">
                <a href="https://github.com/ennerperez/RetroTime" target="_blank" class="footer__gh-link">
                    <span class="icon">
                        <span class="fab fa-github"></span>
                    </span>
                </a>
            </span>
        </div>
    </nav>
</footer>