@using RetroTime.Domain.Entities

<li class="nav-item retrospective-progress__item @this.CssClass">
    <span class="nav-link">@this.Text</span>
</li>

@code {
    [Parameter]
    public RetrospectiveStage CurrentStage { get; set; }

    [Parameter]
    public RetrospectiveStage ApplicableTo { get; set; }

    [Parameter]
    public string? Text { get; set; }

    private bool IsPrevious => ApplicableTo < CurrentStage;
    private bool IsCurrent => CurrentStage == ApplicableTo;

    private string CssClass
    {
        get
        {
            if (IsCurrent)
            {
                return "retrospective-progress__item--is-current";
            }

            if (IsPrevious)
            {
                return "retrospective-progress__item--is-previous";
            }

            return "retrospective-progress__item--future";
        }
    }

}
