@using RetroTime.Domain.Entities

<div class="retrospective-progress__item @CssClass">
    <span>
        @Text
    </span>
</div>

@code {
    [Parameter]
    public RetrospectiveStage CurrentStage { get; set; }

    [Parameter]
    public RetrospectiveStage ApplicableTo { get; set; }

    [Parameter]
    public string? Text { get; set; }

    private bool IsPrevious => ApplicableTo < CurrentStage;
    private bool IsCurrent => CurrentStage == ApplicableTo;

    private string CssClass
    {
        get
        {
            if (IsCurrent)
            {
                return "retrospective-progress__item--is-current";
            }

            if (IsPrevious)
            {
                return "retrospective-progress__item--is-previous";
            }

            return "retrospective-progress__item--future";
        }
    }

}
