<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        @if (BrandIsClickable)
        {
            <a class="navbar-brand" href="/">
                <Brand/>
            </a>
        }
        else
        {
            <span class="navbar-brand">
                <Brand/>
            </span>
        }
        <button @onclick="@ToggleNavMenu" class="navbar-toggler @NavMenuCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse @NavMenuCssClass" id="navbarSupportedContent">
            @ChildContent
        </div>
    </div>
</nav>

@code {
#nullable disable

    bool _collapseNavMenu = true;

    string NavMenuCssClass => _collapseNavMenu ? null : "active";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool BrandIsClickable { get; set; } = true;

    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}