@using RetroTime.Application.Retrospectives.Queries.GetRetrospectiveStatus
@using RetroTime.Web.Pages
<RetrospectiveRolePanel>
    <Facilitator>
        <p>
            You have ended the retrospective. You can review the voted items with your team.
        </p>

        <p>
            You can always go back here and review the retrospective again.
        </p>
    </Facilitator>
    <Participant>
        <p>
            The facilitator can review the highest voted items with your team. You can always go back here
            and review the retrospective again.
        </p>
    </Participant>
</RetrospectiveRolePanel>

@if (RetrospectiveLobby != null) {
    if (RetrospectiveLobby.ShowShowcase)
    {
        <button type="button"
                class="btn btn-secondary d-block"
                data-test-element-id="toggle-view-button"
                @onclick="@(() => RetrospectiveLobby.ShowBoardDisplay())">
            <span>Show full board</span>
        </button>
    } else {
        <button type="button"
                class="btn btn-secondary d-block"
                data-test-element-id="toggle-view-button"
                @onclick="@(() => RetrospectiveLobby.ShowShowcaseDisplay())">
            <span>Show top items</span>
        </button>
    }
}

@code {
    #nullable disable
    [CascadingParameter]
    public IRetrospectiveLobby RetrospectiveLobby { get; set; }
}