@using RetroTime.Application.Retrospectives.Queries.GetRetrospectiveStatus
@using System.Drawing
<div class="row">
    @foreach (RetrospectiveLane lane in RetrospectiveStatus.Lanes)
    {
        int order = RetrospectiveStatus.Lanes.IndexOf(lane) + 1;

        <div class="col" data-test-element-id="note-lane" data-id="@lane.Id" @key="lane.Id">
            <NoteLane Lane="@lane" Order="@order"/>
        </div>
    }
</div>

@code {
    #nullable disable

    [CascadingParameter]
    public RetrospectiveStatus RetrospectiveStatus { get; set; }
}
