@implements IDisposable

<div class="c100 @("p"+ ConstrainedPercent)">
    <span data-test-element-id="timer">@(Text)</span>
    <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
    </div>
</div>

@code {
    private int ConstrainedPercent => (int) Math.Ceiling(Math.Min(Math.Max(Percent, 0), 100));

    [Parameter]
    public double Percent { get; set; }

    [Parameter]
    public string Text { get; set; } = "-";

    [Parameter]
    public int IntervalMilliseconds { get; set; } = 1000;

    [Parameter]
    public Func<bool> Callback { get; set; } = () => false;

    private System.Timers.Timer? _runningTimer = null;

    public void Start()
    {
        if (_runningTimer == null)
        {
            _runningTimer = new System.Timers.Timer(IntervalMilliseconds);
            _runningTimer.Elapsed += delegate
            {
                InvokeAsync(() =>
                {
                    bool shouldContinue = Callback.Invoke();

                    if (!shouldContinue) {
                        _runningTimer.Stop();
                        _runningTimer = null;

                        StateHasChanged();
                        return;
                    }
                   
                    StateHasChanged();
                });
            };
            _runningTimer.Start();
        }
    }

    public void Dispose()
    {
        _runningTimer?.Stop();
        _runningTimer?.Dispose();
        _runningTimer = null;
    }
}
