@page "/retrospective/{retroId}/lobby"
@layout RetrospectiveLayout
@inherits RetrospectiveLobbyBase

@if (RetrospectiveStatus == null) {
    if (HasLoaded) {
        <ErrorMessage Text="This retrospective cannot be found!" />
    } else {
        <p>Hold on... crunching the data</p>
    }
        
    return;
}

<CascadingValue Value=@RetroIdObject IsFixed="true">
    <CascadingValue Value=@CurrentParticipant IsFixed="true">
        <CascadingValue Value=@RetrospectiveStatus>
            <CascadingValue Value=@Votes>
                <div class="columns" data-test-element-id="main-board">
                    <div class="column is-three-quarters">
                        @if (ShowShowcase == false)
                        {
                            <RetrospectiveBoard />
                        }
                        else
                        {
                            <Showcase />
                        }
                    </div>

                    <div class="column">
                        <CascadingValue TValue="@IRetrospectiveLobby" Value=@(this) IsFixed="true">
                            <RetrospectiveStatusPanel />
                        </CascadingValue>

                        <RetrospectiveOnlineList RetroId="@RetroId" CurrentParticipant="@CurrentParticipant" />
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
