@page "/retrospective/{retroId}/lobby"
@layout RetrospectiveLayout
@inherits RetrospectiveLobbyBase

@if (RetrospectiveStatus == null)
{
    if (HasLoaded)
    {
        <ErrorMessage Text="This retrospective cannot be found!"/>
    }
    else
    {
        <p>Hold on... crunching the data</p>
    }

    return;
}

<CascadingValue Value=@RetroIdObject IsFixed="true">
    <CascadingValue Value=@CurrentParticipant IsFixed="true">
        <CascadingValue Value=@RetrospectiveStatus>
            <CascadingValue Value=@Votes>
                <div class="row" data-test-element-id="main-board">
                    <div class="col">
                        @if (ShowShowcase == false)
                        {
                            <RetrospectiveBoard/>
                        }
                        else
                        {
                            <Showcase/>
                        }
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <CascadingValue TValue="@IRetrospectiveLobby" Value=@(this) IsFixed="true">
                                    <RetrospectiveStatusPanel/>
                                </CascadingValue>
                            </div>
                            <div class="row pt-3">
                                <div class="col-12">
                                    <RetrospectiveOnlineList RetroId="@RetroId" CurrentParticipant="@CurrentParticipant"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>