@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@using RetroTime.Web.Components.Layout

<CommonTopMenu />

<section class="section">
    <main role="main" id="main-content" class="container p-0">
        @Body
    </main>
</section>

<CommonButtonMenu />