@if (this.IsHidden == false)
{
    <div class="alert alert-@GetCssClass() alert-dismissible fade show" role="alert">
        @ChildContent
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="HideNotification"></button>
    </div>
}

@code {
#nullable disable

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public NotificationType Type { get; set; } = NotificationType.Primary;

    [Parameter]
    public bool IsHidden { get; set; }

    private string GetCssClass()
    {
        switch (this.Type)
        {
            case NotificationType.Primary:
                return "primary";
            case NotificationType.Link:
                return "link";
            case NotificationType.Info:
                return "info";
            case NotificationType.Warning:
                return "warning";
            case NotificationType.Danger:
                return "danger";
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    public void HideNotification()
    {
        this.IsHidden = true;
    }

    public enum NotificationType
    {
        Primary,
        Link,
        Info,
        Warning,
        Danger
    }
}