@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@using RetroTime.Web.Components.Layout
@implements RetroTime.Web.Components.Layout.IRetrospectiveLayout

<RetrospectiveLobbyTopMenu @ref="_topMenu"/>

<section class="section">
    <main role="main" id="main-content" class="container p-0">
        <CascadingValue Value=@(this) IsFixed="true" TValue="IRetrospectiveLayout">
            @Body
        </CascadingValue>
    </main>
</section>

<CommonButtonMenu />

@code {

    private RetrospectiveLayoutInfo _layoutInfo = new RetrospectiveLayoutInfo("Loading...", null);
    private RetrospectiveLobbyTopMenu? _topMenu;
    private bool _needToUpdateTopMenu;

    public void Update(in RetrospectiveLayoutInfo layoutInfo)
    {
        _layoutInfo = layoutInfo;

        if (_topMenu != null)
        {
            _topMenu.Update(layoutInfo);
        }
        else
        {
            _needToUpdateTopMenu = true;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (_needToUpdateTopMenu && _topMenu != null)
        {
            _topMenu.Update(_layoutInfo);
        }
    }
}
